server:
  port: 9090

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/garmentdb
    driver-class-name: org.h2.Driver
    username: garment_user
    password: securepassword
  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update       # use 'create' for a fresh schema each run
    show-sql: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
  data:
    rest:
      base-path: /simplerp/api/
  sql:
    init:
      mode: always
  main:
    allow-bean-definition-overriding: true
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
  profiles:
    active: dev
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

# JWT and Application-specific settings
app:
  jwt:
    secret: replace-with-32-or-more-chars-secret-change-me
    expiration-ms: 3600000
